extends layout

block content
	.jumbotron.move
		.container
			h1= title
			p
				| Welcome to the about page
			p
				| I am a developer with a passion for strong UX so natuarlly I love
				| to use a JavaScript stack. My goto is NodeJS with Express using Stylus and Jade
				| , I like the pythonic syntax and it really suites my workflow.
				| I do know all the other tools as well, just Jade/ Handlebars and Stylus or Sass
				| are my personal favorites.
			p
				| I enjoy using React or Backbone on the frontend and I even know Angular for
				| those of you that like to hear those keywords lol, no I am just kidding, we
				| all appreciate a good frontend tool to use so our code is managable and our workflow is sane.

