extends layout

block content
	.jumbotron.move
		.container
			h1 Website of Tony Brown
			p
				| Feel free to reach out if you are looking for a frontend web developer
				| or a fullstack JavaScript developer.
			p
				| This site is an Node / Express website using Jade and Stylus as
				| the HTML and CSS pre processors respectively.

			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;

	.container
		.row
			.col-md-4
				h2 About Me
				p
					| Hello, my name is Tony Brown, I am a frontend developer and user experience
					| fanatic.
				p
					| I love clean design with intuative user interfaces. I use the latest in modern
					| front end workflows and specialize in JavaScript and single page web applications
					| using a variety of backend solutions.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 My Work
				p
					| Please have a look at some of my work
				p
					| It spans a variety of skills I possess and
					| use in my daily work.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Socialize with Me
				p
					| Just wanna chat or get in touch?
				p
					| You can find me all over the net on various social medias.
					| I'm a big Twitter fan and use it to post interesting links.
				a.btn.btn-default(href='#') View Details
