extends layout

block content
	.jumbotron.move
		.container
			h1= title
			p
				| Welcome to my #{title}, with Jade and Stylus!
			p
				| Just a bare bones app to get up and running with Express. I decided to use Bootstrap for quickly getting a MVP up and out in a short time
			p
				| I know there's probably plenty of these out there on github but
				| this one is the one I made. I hope you enjoy it if you are using it :)
			p
				| If you have any suggestions, feel free to do a pull or drop me an email. I'd love to hear from you.
